<h1>Cadastre-se Aqui</h1>

<form action="/eventos/cadastrar" method="POST">
    <label for="title">Título</label>
<input type="text" name="title" >
    <label for="description">Descrição</label>
<input type="text" name="description">
    <label for="price">Preço</label>
<input type="namber" name="price">
    <label for="img">Imagem</label>
<input type="file" name="img">
<input type="submit" value="Cadastrar">

</form>



